{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container mt-3 mb-2 text-center">
        <hr>
        <h2 class="header-font mb-4" style="text-transform: capitalize;">{{ profile.full_name }}'s profile</h2>
        <hr>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main>
        <div class="container mb-2">
            <div class="row mx-2">
                <div class="col-12">
                    <p class="text-muted">Default Delivery Information</p>
                    <form
                        action="{% url 'profile' %}"
                        method="POST"
                        id="profile-update-form"
                        class="mt-3">
                        {% csrf_token %} {{ form|crispy }}
                        <button class="btn btn-lg cta-btn rounded text-uppercase float-right">
                            Update Information
                        </button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="mt-3 text-muted">Order History</p>
                    <div class="table-responsive rounded">
                        <table class="table table-hover">
                            <thead>
                                <tr class="fs-5">
                                    <th scope="col">Order Number</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Subscription</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Selected Books</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td class="text-break">{{ order.order_number }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.grand_total }}</td>
                                    <td>
                                        {% for lineitem in order.lineitems.all %}
                                        {{ lineitem.user_subscription_option.subscription_option }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for lineitem in order.lineitems.all %}
                                        {{ lineitem.user_subscription_option.start_date }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for lineitem in order.lineitems.all %}
                                        {{ lineitem.user_subscription_option.end_date }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for lineitem in order.lineitems.all %}
                                            {% for book in lineitem.user_subscription_option.selected_books.all %}
                                                <div class="d-flex align-items-center p-2">
                                                    <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width: 50px; height: auto; margin-right: 10px;">
                                                {{ book.title }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                    </td>
                                    <td>
                                        {% for lineitem in order.lineitems.all %}
                                        {% if lineitem.user_subscription_option.is_active %}
                                        <a href="{% url 'update_subscription' lineitem.user_subscription_option.id %}" type="submit"
                                            class="btn btn-sm btn-primary text-uppercase">
                                            Update
                                        </a>
                                        <form action="{% url 'cancel_subscription' lineitem.user_subscription_option.id %}"
                                            method="POST" id="subscription-cancel-form" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger text-uppercase">
                                                Cancel
                                            </button>
                                        </form>
                                        {% else %}
                                        <a href="{% url 'update_subscription' lineitem.user_subscription_option.id %}" type="submit"
                                            class="btn btn-sm btn-primary text-uppercase"> Update </a>
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block extrajs %}
{{ block.super }}
<script
	type="text/javascript"
	src="{% static 'profiles/js/countryfield.js' %}">
</script>
{% endblock %}
