:root {
    --primary-color: #2678b8;
    --secondary-color: #b66426;
    --tertiary-color: #b82626;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --third-font: 'Merriweather', serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
}

html, body {
    overflow-y: auto;
}

.logo-font {
    font-family: var(--primary-font);
    font-weight: 800;
}

.background-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Place it behind other content */
    background-image: linear-gradient(to top, rgba(38, 120, 184, 0.5), rgba(255, 255, 255, 0.90)), url('/media/bookshelf.jpg');
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    background: linear-gradient(to top, rgba(38, 120, 184, 0.5), rgba(255, 255, 255, 0.90));
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
.fas {
    font-size: 1.5em;
    color: black;
}

.fab {
    font-size: 1.5em;
    color: #fff;
}

.btn-floating {
    cursor: pointer;
    background-color: var(--secondary-color) !important;
}

.card-img-top {
    height: 200px;
    /* Fixed height for all images */
    object-fit: cover;
    /* Cover the entire card image area */
}

/* Responsive styling for smaller devices */
@media (max-width: 767px) {
    .card-img-top {
        height: auto;
        /* Height becomes auto on small devices */
    }
}
