{% extends "base.html" %}

{% block title %}Create Subscription{% endblock %}

{% block page_header %}
    <div>
        <h2>Create Subscription</h2>
    </div>
{% endblock %}

{% block content %}
<main class="container">

    <div class="col-12 col-lg-6">
        <form method="POST" action="" id="create-subscription-form">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary" id="create-subscription-form">Create Subscription</button>

        </form>
    </div>
</main>
{% endblock %}
