{% extends "base.html" %}

{% block content %}
<main class="container">
    <h2>Selected Books</h2>
    {% if selected_books %}
    <ul>
        {% for book in selected_books %}
        <h4>{{ book.title }}</h4>
        <img src="{{ book.image_url }}" class="list-unstyled" alt="{{ book.title }}" style="height: 200px; object-fit: cover;">
        <p>Price: £{{ book.price }}</p>
        {% endfor %}
    </ul>
    <h3>Total Price: £{{ total_price }}</h3>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="subscription_option_id" value="{{ subscription_option_id }}">
        <button type="submit" class="btn btn-primary">Add to Box</button>
    </form>
    {% else %}
    <p>No books selected.</p>
    {% endif %}
</main>
{% endblock %}
