{% extends "base.html" %}

{% block content %}
<main class="container">
    <h2>Selected Books</h2>
    {% if selected_books %}
    <ul>
        {% for book in selected_books %}
        <li>{{ book.title }} - Price: ${{ book.price }}</li>
        {% endfor %}
    </ul>
    <h3>Total Price: ${{ total_price }}</h3>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="subscription_option_id" value="{{ subscription_option_id }}">
        <button type="submit" class="btn btn-primary">Add to Box</button>
    </form>
    {% else %}
    <p>No books selected.</p>
    {% endif %}
</main>
{% endblock %}
