{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main class="container">
    <div>
        <h2>Subscription Options</h2>
    </div>
    <form class="form" method="POST" action="" name="subscription_options">
        {% csrf_token %}
        {% crispy form %}
        {% comment %} <button type="submit" class="btn btn-primary" name="total-price" id="total-price">Calculate Price</button> {% endcomment %}
        <a type="submit" name="calculate-price-btn" id="calculate-price-btn" class="btn btn-primary" href="" role="button">Calculate Price 2</a>
    </form>
    
    {% if total_price %}
        <div class="alert alert-info mt-3">
            <strong>Calculated Price: £{{ total_price }}</strong>
        </div>
        {% if view_books %}
            <!-- Option to proceed to view selected books -->
            <a href="{% url 'display_books' %}" class="btn btn-success">View Books</a>
        {% endif %}
    {% endif %}


</main>
{% endblock %}
