{% extends "base.html" %}
{% load static %}

{% block title %}Update Subscription{% endblock %}

{% block page_header %}
    <div class="container mt-3 mb-2 text-center">
        <hr>
        <h2 class="header-font">Update Subscription</h2>
        <hr>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<main class="container text-center">
    <div class="container ">
        <div class="col-12">
            <p class="lead">Update your subscription options below</p>
        </div>
        <div class="col-12 ">
            <form method="POST" action="{% url 'update_subscription' user_subscription.id %}" id="update-subscription-form">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-lg cta-btn mt-3" id="update-subscription-form">Save Changes</button>
            </form>
        </div>
    </div>
</main>
<script>
document.addEventListener('DOMContentLoaded', function () {
    function updateSelectColor(selectElement) {
        // Function to check the selection and update color
        function checkAndUpdateColor() {
            // Change the color to black if a non-placeholder option is selected
            if(selectElement.value) {
                selectElement.style.color = 'black';
            } else {
                selectElement.style.color = 'grey';
            }
        }

        // Listen for changes on the select element
        selectElement.addEventListener('change', checkAndUpdateColor);

        // Initial color update based on current selection
        checkAndUpdateColor();
    }

    // Get the select elements
    var categorySelect = document.querySelector('select#id_category.form-control.select');
    var subscriptionTypeSelect = document.querySelector('select#id_subscription_type.form-control.select');

    // Update color for both selects
    if (categorySelect) updateSelectColor(categorySelect);
    if (subscriptionTypeSelect) updateSelectColor(subscriptionTypeSelect);
});
</script>


{% endblock %}


