{% extends "base.html" %}

{% block title %}Your Subscription{% endblock %}

{% block page_header %}
    <div class="container mb-3">
        <h2>Your Subscription</h2>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<main class="container">
    <div class="container border border-black rounded bg-white p-3">
        {% if user_subscription %}
            <p><strong>Subscription Option:</strong> {{ user_subscription.subscription_option }}</p>
            <p><strong>Selected Books:</strong></p>
            <ul>
                {% for book in user_subscription.selected_books.all %}
                <li class="list-unstyled">{{ book.title }}</li>
                <img src="{{ book.image_url }}" class="img-fluid" alt="{{ book.title }}">
                {% endfor %}
            </ul>
            <p><strong>Start Date:</strong> {{ user_subscription.start_date }}</p>
            <p><strong>End Date:</strong> {{ user_subscription.end_date }}</p>
            <p><strong>Price:</strong> £{{ user_subscription.calculated_price }}</p>
            <!-- TODO: need to correct button so that it adds to the users box content and payments -->
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="subscription_option_id" value="{{ subscription_option_id }}">
                <!-- <input type="hidden" name="add_to_box" value=""> -->
                <button type="submit" class="btn btn-primary">Add to Box</button>
            </form>
        {% else %}
        <p>No books selected.</p>
        {% endif %}
    </div>
</main>
{% endblock %}
