{% load static %} 
{% block extra_css%}

{% endblock %}

<!-- Footer -->
  <footer class="footer bg-body-tertiary text-center mt-auto">
    <!-- Grid container -->
    <div class="container p-3">
      <!-- Section: Social media -->
      <section class="mb-3">
        <!-- Facebook -->
        <a class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a class="btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center px-2">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-md-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 col-8">
              <!-- Email input -->
              <div class="form-outline mb-1">
                <input type="email" id="form5Example24" placeholder="Email Address" class="form-control  border-dark">
                <label class="form-label" for="form5Example24"></label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4">
              <!-- Submit button -->
              <button type="submit" class="btn btn-secondary border-dark">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="d-none d-md-block">
        <p>
          Curated book service delivered to your door each month.
        </p>
      </section>
      <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold text-decoration-none" href="">BookshelfBox.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->