{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1>Book Details</h1>
        </div>
        <div class="container card ">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ book.image_url }}" class="img-fluid" alt="{{ book.title }}">
            </div>
            <div class="col-md-6">
                <h2>{{ book.title }}</h2>
                <p><strong>Category:</strong> {{ book.category }}</p>
                <p><strong>Price:</strong> £{{ book.price }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <!-- Include additional fields as desired -->
                <a href="{% url 'books' %}" class="btn btn-primary">Back to list</a>
            </div>
        </div>
        </div>
    </main>

{% endblock %}