{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="flex-shrink-0">
<div class="container mt-4">
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ book.image_url }}" class="card-img-top" alt="{{ book.title }}" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">Price: £{{ book.price }}</p>
                    <a href="{% url 'book-detail' book.id %}" class="btn btn-primary">View details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>No books found.</p>
        </div>
        {% endfor %}
    </div>
</div>
</main>
{% endblock %} 

