{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container mt-3 mb-2 text-center">
        <hr>
        <h2 class="header-font mb-4">Box Content</h2>
        <hr>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main>
        <div class="container mb-2">
            <div class="row mx-2">
                {% if box_items %}
                    <div class="border box-table rounded bg-white table-responsive"> 
                        <table class="rounded-3">
                            <thead class="text-center align-middle">
                                <tr>
                                    <th class="p-2" scope="col">Subscription</th>
                                    <th scope="col">Selected Books</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class=" table-group-divider align-middle">
                                {% for item in box_items %}
                                    <tr>
                                        <td>{{ item.subscription_option }}</td>
                                        <td class="border-left">
                                            {% for book in item.selected_books %}
                                                <div class="d-flex align-items-center p-2">
                                                    <img src="{{ book.image_url }}" alt="{{ book.title }}" style="width: 50px; height: auto; margin-right: 10px;">
                                                    {{ book.title }}
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td class="border-left">£{{ item.user_subscription.calculated_price }}</td>
                                        <td class="border-left">{{ item.user_subscription.start_date }}</td>
                                        <td class="border-left">{{ item.user_subscription.end_date }}</td>
                                        <td class="border-left">
                                                <a href="{% url 'view_subscription' item.user_subscription.pk %}" class="btn btn-primary mb-2">Edit</a>
                                            <form method="POST" action="{% url 'remove_from_box' item.user_subscription.pk %}" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <a href="{% url 'checkout' %}" class="btn btn-primary mt-3">Checkout</a>
                    </div>
                    {% comment %} <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12 mb-2">
                                <input type="submit" class="btn btn-lg cta-btn rounded text-uppercase" value="Checkout">
                            </div>
                            
                        </div>
                    </form> {% endcomment %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">No items in the box</h4>
                        <p>Please add items to the box.</p>
                        <button type="button" class="cta-btn btn btn-block btn-lg" onclick="location.href='{% url 'subscriptions' %}'">
                            <h4 class="p-md-1 mb-0">Add to Box</h4>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}